.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    
  }
  .shop {
    background-color: antiquewhite;
    bottom: 0;
  }
  .product {
    border-radius: 15px;
    width: 400px;
    height: 390px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 8px rgb(31, 31, 31);
  }
  
  .product img {
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px;
    width: 400px;
    margin-bottom: 10px;
  }
  
  .product .des {
    text-align: center;
  }
  
  .product p{
    text-align: center;
  }
  .product:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 8px 30px gray;
  
  }

  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  @media (max-width: 1000px) {
    .products { grid-template-columns: 1fr; }
  }

  @media (min-width: 1000px) and (max-width: 1500px)  {
    .products { grid-template-columns: 1fr 1fr; }
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2F3C7E;
    
  }

  .footer p{
    font-weight: bold;
    color: white;
    margin-top:20px;
    
  }
